.page-wrap {
    position: relative;
    min-height: 100vh;
}

.content-container {
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
}

.content-wrap {
    width: 80vw;
    height: fit-content;
    padding-inline: 25px;

    background-color: rgb(236, 233, 233);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

@media (max-width: 480px) {
    .content-wrap {
        width: 90vw;
        padding-inline: 10px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}