.dark-mode {
    color: white;
    background-color: rgb(90, 97, 99);

    .content-wrap {
        background-color: rgb(138, 148, 151);
    }

    .table-wrap {
        background-color: #333;
    }

    .id-render-status {
        color: white;
    }

    .active-status{
        background-color: rgb(31, 131, 64);
    }
    
    .inactive-status  {
        background-color: rgb(179, 57, 41);
    }

    .active-status-short {
        color: rgb(31, 131, 64);
    }
    
    .inactive-status-short  {
        color: rgb(179, 57, 41);
    }

    .center-dropdown {
        background-color: rgb(70, 75, 77);

        a {
            color: white !important;
        }
    }

    .details-component:hover {
        background-color: rgb(70, 75, 77);
    }

    .server-details {
        text-shadow: 0 0 1px rgb(0, 0, 0);
    }
    
    .details-component {
        .active-status-short {
            color: rgb(55, 216, 109);
        }
    
        .inactive-status-short {
            color: rgb(255, 0, 51);
        }
    }

    .theme_button {
        button {
            background-color: rgb(90, 97, 99) !important;
            color: white;
        }
    }
}

.dark-mode, .light-mode  {
 transition: 0.2s linear all;
}