.dropdown {
    display: flex;
    justify-content: left;
}

.center-dropdown {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 15px 0px;

    height: 35px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center-dropdown a {
    color: black !important;
    font-weight: bold;
}