.footer {
    background-color: #0c539c;
    color: white;
    height: 100px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    
}