.modal {
    display: flex;
    flex-direction: column;

    span {
        font-weight: bold;
    }

    .data-container {
        display: flex;
        justify-content: space-between;

        div:not(:last-child) {
            margin-bottom: 20px;
        }

        div > div:first-of-type {
            margin-top: 20px;
        }
    }

    .separator {
        background-color: rgb(211, 211, 211);
        filter: blur(0.6px);

        &.vertical {
            width: 1px;
        }

        &.horizontal {
            height: 1px;
        }
    }
}

@media (max-width: 480px) {
    .separator.vertical {
        display: none;
    }
}