.modal {
    display: flex;
    flex-direction: column;

    .data-container {
        display: flex;
        justify-content: space-between;

        div:not(:last-child) {
            margin-bottom: 20px;
        }

        div > div:first-of-type {
            margin-top: 0px;
        }

        h3 {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 480px) {
    .separator.vertical {
        display: none;
    }

    .margin-add {
        margin-left: 10px;
    }
}